<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-uy-error-404-robot-roto_114360-1932.jpg?w=2000" alt="" class="img-fluid">
  </div>

<script>
  document.addEventListener('DOMContentLoaded', async() => { setTimeout(() => {
  window.location.href = '/perfil'; }, 5000); })
</script>